<app-route-progress-bar />

<div class="flex h-screen overflow-hidden bg-gray-50 dark:bg-gray-950">

  <app-sidebar #sidebar [forceCollapsed]="layout.config().sidebarCollapsed" (onLogout)="authStore.logout()" />

  <div class="flex flex-col flex-1 overflow-hidden relative min-w-0">

    @if (layout.config().topbarVisible) {
    <app-topbar [user]="authStore.user()" [transparent]="layout.config().topbarTransparent"
      [showMenuButton]="!bp.isDesktop()" (menuClick)="sidebar.toggleExpanded()" />
    }

    <main class="flex-1 overflow-y-auto p-6 transition-all duration-200"
      [class.absolute]="layout.config().topbarTransparent" [class.inset-0]="layout.config().topbarTransparent">
      <router-outlet />
    </main>

  </div>
</div>

<app-notifications />