<div class="flex items-center gap-4" [class.bg-gray-400]="!item().isActive">
  <!-- <div class="w-[60px]">
    @if (item().isActive) {
      <div class="w-[20px] mx-auto">
        <app-icon name="active_check" />
      </div>
    } @else {
      <div class="w-[20px] mx-auto">
        <app-icon name="inactive_check" />
      </div>
    }
  </div> -->
  <div class="w-[200px] flex flex-col">
    <div class="text-gray-500 font-[500] text-[16px] cursor-pointer underline" (click)="openExternalLink()" role="button" tabindex="0">
      {{ item().name }}
    </div>
  </div>
  <div class="flex-1 flex">
    {{ item().description }}
  </div>
  <div class="mr-8">
    @if (item().logoImage) {
      <img [src]="item().logoImage" [alt]="item().name + ' logo'" class="h-8" />
    }
  </div>
  <div class="w-[20]">
    <button
      class="w-7 h-7 flex items-center justify-center rounded-lg text-gray-400 transition-colors cursor-pointer hover:border-1 border-gray"
      (click)="editService()"
    >
      <app-icon name="Setting_line_light"></app-icon>
    </button>
  </div>
</div>
