input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: background-color 9999s ease-out;
  -webkit-transition-delay: 9999s;
}

input::placeholder,
textarea::placeholder {
  color: var(--ui-text-hint);
}
