@if (!hasChildren()) {
  <a
    [routerLink]="item().route"
    routerLinkActive="active-nav-item"
    [routerLinkActiveOptions]="{ exact: false }"
    class="nav-item"
    [class.nav-item--collapsed]="!expanded()"
    (click)="clicked.emit()"
  >
    <app-icon [name]="item().icon" [size]="22" cssClass="shrink-0" />
    @if (expanded()) {
      <span class="nav-item__label">{{ item().label }}</span>
    }
  </a>
}

@if (hasChildren()) {
  <div>
    <button
      (click)="toggleOpen()"
      class="nav-item w-full"
      [class.nav-item--active-parent]="isChildActive()"
      [class.nav-item--collapsed]="!expanded()"
    >
      <app-icon [name]="item().icon" [size]="22" cssClass="shrink-0" />
      @if (expanded()) {
        <span class="nav-item__label flex-1 text-left">{{ item().label }}</span>
        <app-icon
          name="Expand_down_light"
          [size]="16"
          cssClass="shrink-0 transition-transform duration-200"
          [class.rotate-180]="isOpen()"
        />
      }
    </button>

    <div
      class="grid transition-[grid-template-rows] duration-200 ease-[cubic-bezier(0.4,0,0.2,1)]"
      [class.grid-rows-[0fr]]="!isOpen() || !expanded()"
      [class.grid-rows-[1fr]]="isOpen() && expanded()"
    >
      <div class="overflow-hidden">
        <div class="mt-1 ml-3 pl-3 border-l border-gray-700 flex flex-col gap-0.5 pb-1">
          @for (child of item().children; track child.route) {
            <a
              [routerLink]="child.route"
              routerLinkActive="active-nav-child"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="clicked.emit()"
              class="nav-child"
            >
              {{ child.label }}
            </a>
          }
        </div>
      </div>
    </div>
  </div>
}
