<div class="flex flex-col gap-6">
  <div class="w-full flex justify-center mb-4">
    <mat-button-toggle-group name="fontStyle" [value]="payPeriod()" (change)="payPeriod.set($event.value)" aria-label="Font Style">
      <mat-button-toggle [value]="PaymentType.MONTHLY">Pago mensual</mat-button-toggle>
      <mat-button-toggle [value]="PaymentType.YEARLY">Pago anual</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="flex gap-4 justify-center flex-wrap">
    @if (plansStore.planListLoading()) {
      Loading
    } @else {
      @for (plan of availableSubscriptions(); track plan.id) {
        <app-plan-cart [item]="plan" [editMode]="false" [payPeriod]="payPeriod()"></app-plan-cart>
      }
    }
  </div>
</div>
