<div class="flex flex-col gap-6">
  <section>
    <div class="flex items-start justify-between gap-4">
      <div class="flex flex-col gap-1">
        <h1 class="text-2xl font-semibold text-gray-800 dark:text-gray-100">Plan Configurator</h1>
        <p class="text-sm text-gray-500 dark:text-gray-400">Choose your tariff plan</p>
      </div>
    </div>
  </section>

  <div class="flex gap-4 justify-center flex-wrap">
    @if (plansStore.planListLoading()) {
      Loading
    } @else {
      @for (plan of plansStore.planList(); track plan.id) {
        <app-plan-cart [item]="plan" [editMode]="false"></app-plan-cart>
      }
    }
  </div>
</div>
